@*Author : Navjit Kaur*@

@model Xamine.ViewModels.ReporteeProjectViewModel
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<center> <h2>Add Project</h2> </center>

@*Form for submitting the request to add new project*@
@using (Html.BeginForm("AddProject", "Manager", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model=> model.ProjectModel.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProjectModel.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectModel.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectModel.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ProjectModel.Description, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectModel.Progress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProjectModel.Progress, new { @class = "form-control", @type = "number" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectModel.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ProjectModel.Status, new { @class = "form-control" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div class="container">
        <table id="reportees" class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>EmpId</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Add</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reportee in Model.AllReportees)
                {
                    <tr>
                        <td id="eId">@reportee.EmpId</td>
                        <td id="eFname">@reportee.Fname</td>
                        <td id="eLname">@reportee.Lname</td>
                        <td id="eEmail">@reportee.Email</td>
                        <td id="eContact">@reportee.Contact</td>
                        <td id="eDOB">@reportee.DOB.Value.ToString("dd/MM/yyyy")</td>
                        <td id="eGender">@reportee.Gender</td>
                        <td>
                            <a data-reportee-id="@reportee.EmpId" class="btn btn-default glyphicon glyphicon-plus-sign js-add" name="Add"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        }

        @*Link to Manager Dashboard*@
        <div>
            @Html.ActionLink("Back to Dashboard", "Dashboard")
        </div>

        @section scripts{
            <script>
                $(document).ready(function () {
                    $("#reportees").DataTable();
               
                    $("#reportees").on("click", ".js-add", function () {
                        var buttonRef = $(this);      
                         
                        $.ajax({
                                url: "/Manager/AddReporteeToProject/" + buttonRef.attr("data-reportee-id"),
                                method: "POST",
                                success: function () {
                                    buttonRef.parents("tr").remove();
                                }
                            });
                    });
                });
            </script>
        }
