@*Author : Navjit Kaur*@
@model Xamine.Models.ManagerModel
@{
    Layout = "../Shared/_ManagerLayout.cshtml";
    ViewBag.Title = "Dashboard";
}
@*Project Slider*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="imageCarousel" class="carousel slide" data-interval="2000"
                 data-ride="carousel" data-pause="hover" data-wrap="true">
                <ol class="carousel-indicators">
                    @if (Model.Project == null)
                    {
                        <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                    }
                    else
                    {
                        for (int i = 0; i < Model.Project.Count; i++)
                        {
                            if (i == 0)
                            {
                                <li data-target="#imageCarousel" data-slide-to="0" class="active"></li>
                            }
                            else
                            {
                                <li data-target="#imageCarousel" data-slide-to="@i"></li>
                            }
                        }
                    }
                </ol>
                <div class="carousel-inner">
                    @if (Model.Project == null)
                    {
                        <div class="item active">
                            <img src="~/images/image2.jpg" alt="Image" class="img-responsive">
                            <div class="carousel-caption">
                                <h2 style="color:saddlebrown">NO PROJECTS YET!</h2>
                            </div>
                        </div>
                    }
                    else
                    {
                        for (int i = 0; i < Model.Project.Count; i++)
                        {
                            var classVar = "item";
                            var imgSrc = "~/images/image5.jpg";
                            if (i == 0)
                            {
                                classVar = "item active";
                            }
                            if (i == 0 || (i % 2 == 0))
                            {
                                imgSrc = "~/images/image2.jpg";
                            }
                            else if (i % 3 == 0)
                            {
                                imgSrc = "~/images/image3.jpeg";
                            }
                            else if (i % 5 == 0)
                            {
                                imgSrc = "~/images/image4.jpg";
                            }
                            <div class="@classVar">
                                <img src="@Url.Content(@imgSrc)" alt="Image" class="img-responsive">
                                <div class="carousel-caption">
                                    <h2 style="color:saddlebrown">@Model.Project[i].Name</h2>
                                    <p style="font-weight: bolder; color:brown;font-size:x-large">@Model.Project[i].Description</p>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progressbar" style="width: @Model.Project[i].Progress%"
                                             aria-valuenow="@Model.Project[i].Progress.ToString()" aria-valuemin="0" aria-valuemax="100">
                                            @Model.Project[i].Progress
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    }
                </div>
                <a href="#imageCarousel" class="carousel-control left" data-slide="prev">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
                <a href="#imageCarousel" class="carousel-control right" data-slide="next">
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
