@*Author : Navjit Kaur*@

@model Xamine.Models.ApplicationDbContext

@{
    ViewBag.Title = "UpdateReportee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<center> <h2>Reportee Details</h2> </center>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    function createModal(url) {

        $("#modelContent").load(url, function () {
            $("#exampleModal").modal("show");

        })
    }
</script>

@*Form for submitting the request to add new manager*@
@using (Html.BeginForm("UpdateReporteePartialView", "Admin", FormMethod.Post, new { @class = "partialforms" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <div>
        <table id="managers" class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>EmpId</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>DOB</th>
                    <th>Gender</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reportee in Model.Reportees)
                {
                    <tr>
                        <td id="eId">@reportee.EmpId</td>
                        <td id="eFname">@reportee.Fname</td>
                        <td id="eLname">@reportee.Lname</td>
                        <td id="eEmail">@reportee.Email</td>
                        <td id="eContact">@reportee.Contact</td>
                        <td id="eDOB">@reportee.DOB.Value.ToString("dd/MM/yyyy")</td>
                        <td id="eGender">@reportee.Gender</td>
                        <td><a class="btn btn-default" data-toggle="modal" data-target="#exampleModal" id="@reportee.EmpId" onclick="createModal('@Url.Action("UpdateReporteePartialView", "Admin" , new {id=reportee.EmpId })')"><i class="glyphicon glyphicon-edit" /></a></td>
                        <td>
                            <a data-manager-id="@reportee.EmpId" class="btn btn-default glyphicon glyphicon-trash js-delete" name="Delete"></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel">Update Details</h2>
                    </div>
                    <div class="modal-body" id="modelContent">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts
    {
        <script>
            $(document).ready(function () {
                $("#managers").DataTable();

                $("#managers").on("click",".js-delete", function () {
                    var buttonRef = $(this);
                    bootbox.confirm("Are you sure you want to delete this reportee?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "/Admin/DeleteReportee/" + buttonRef.attr("data-manager-id"),
                                method: "POST",
                                success: function () {
                                    buttonRef.parents("tr").remove();
                                }
                            });
                        }
                    });
                    
                });
            });
        </script>
    }

}
